{% extends "backstage/base.html" %}
{% block title %}新增文章{% endblock %}
{% block content %}
    <div class="mask">
        <div id="loader"></div>
    </div>
    <!--/Preloader -->
    <!-- Wrap all page content here -->
    <div id="wrap">
    <!-- Make page fluid -->
    <div class="row">
    <!-- Page content -->
    <div id="content" class="col-md-12">
    <!-- page header -->
    <div class="pageheader">
        <h2><i class="fa fa-thumb-tack" style="line-height: 48px;padding-left: 1px;"></i>新增文章<span>写下你的所思，所想，所感</span>
        </h2>
        <!-- /page header -->
        <!-- content main container -->
        <div class="main">
            <!-- row -->
            <div class="row">
                <!-- col 12 -->
                <div class="col-md-12">
                    <!-- tile -->
                    <section class="tile color transparent-black">
                        <!-- tile header -->
                        <div class="tile-header">
                            <h1><strong>奋笔</strong>疾书</h1>
                            <div class="controls">
                                <a href="#" class="refresh"><i class="fa fa-refresh"></i></a>
                                <a href="#" class="remove"><i class="fa fa-times"></i></a>
                            </div>
                        </div>
                        <!-- /tile header -->
                        <!-- tile body -->
                        <div class="tile-body">
                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <label for="input01" class="col-sm-1 control-label">类别</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="type">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="input02" class="col-sm-1 control-label">文章标题</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="article_title">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="input03" class="col-sm-1 control-label">编辑时间</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="edit_time">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="input05" class="col-sm-1 control-label">内容简介</label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" id="description" rows="6"></textarea>
                                    </div>
                                </div>

                                <div class="form-group transparent-editor">
                                    <label class="col-sm-1 control-label">文章内容</label>
                                    <div class="col-sm-10">
                                        <div class="form-control" id="article_content"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="colorpicker-rgb" class="col-sm-1 control-label">文件上传</label>
                                    <div class="col-sm-8">
                                        <div class="input-group">
                          <span class="input-group-btn">
                            <span class="btn btn-primary btn-file">
                              <i class="fa fa-upload"></i><input type="file" multiple="">
                            </span>
                          </span>
                                            <input type="text" class="form-control" readonly="">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group form-footer">
                                    <div class="col-sm-offset-1 col-sm-3">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                        &nbsp&nbsp&nbsp&nbsp&nbsp
                                        <button type="reset" class="btn btn-default">Reset</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </section>
                </div>
            </div>
            </section>
        </div>
        <!-- Make page fluid-->
    </div>
    <!-- Wrap all page content end -->
    <section class="videocontent" id="video"></section>



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/static/assets/js/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script>

        //initialize file upload button function
        $(document)
            .on('change', '.btn-file :file', function () {
                var input = $(this),
                    numFiles = input.get(0).files ? input.get(0).files.length : 1,
                    label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
                input.trigger('fileselect', [numFiles, label]);
            });


        $(function () {

            //load wysiwyg editor
            $('#article_content').summernote({
                toolbar: [
                    //['style', ['style']], // no style button
                    ['style', ['bold', 'italic', 'underline', 'clear']],
                    ['fontsize', ['fontsize']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['height', ['height']],
                    //['insert', ['picture', 'link']], // no insert buttons
                    //['table', ['table']], // no table button
                    //['help', ['help']] //no help button
                ],
                height: 137   //set editable area's height
            });

            //chosen select input
            $(".chosen-select").chosen({disable_search_threshold: 10});

            //initialize datepicker
            $('#datepicker').datetimepicker({
                icons: {
                    time: "fa fa-clock-o",
                    date: "fa fa-calendar",
                    up: "fa fa-arrow-up",
                    down: "fa fa-arrow-down"
                }
            });

            $("#datepicker").on("dp.show", function (e) {
                var newtop = $('.bootstrap-datetimepicker-widget').position().top - 45;
                $('.bootstrap-datetimepicker-widget').css('top', newtop + 'px');
            });

            //initialize colorpicker
            $('#colorpicker').colorpicker();

            $('#colorpicker').colorpicker().on('showPicker', function (e) {
                var newtop = $('.dropdown-menu.colorpicker.colorpicker-visible').position().top - 45;
                $('.dropdown-menu.colorpicker.colorpicker-visible').css('top', newtop + 'px');
            });

            //initialize colorpicker RGB
            $('#colorpicker-rgb').colorpicker({
                format: 'rgb'
            });

            $('#colorpicker-rgb').colorpicker().on('showPicker', function (e) {
                var newtop = $('.dropdown-menu.colorpicker.colorpicker-visible').position().top - 45;
                $('.dropdown-menu.colorpicker.colorpicker-visible').css('top', newtop + 'px');
            });

            //initialize file upload button
            $('.btn-file :file').on('fileselect', function (event, numFiles, label) {

                var input = $(this).parents('.input-group').find(':text'),
                    log = numFiles > 1 ? numFiles + ' files selected' : label;

                console.log(log);

                if (input.length) {
                    input.val(log);
                } else {
                    if (log) alert(log);
                }

            });

            // Initialize colorpalette
            $('#event-colorpalette').colorPalette({
                colors: [['#428bca', '#5cb85c', '#5bc0de', '#f0ad4e', '#d9534f', '#ff4a43', '#22beef', '#a2d200', '#ffc100', '#cd97eb', '#16a085', '#FF0066', '#A40778', '#1693A5']]
            }).on('selectColor', function (e) {
                var data = $(this).data();

                $(data.returnColor).val(e.color);
                $(this).parents(".input-group").css("border-bottom-color", e.color);
            });

        })

    </script>
{% endblock %}
