{% extends "backstage/base.html" %}
{% block title %}内容管理{% endblock %}
{% block content %}
    <link rel="stylesheet" href="/static/assets/js/vendor/colorbox/css/colorbox.css">
    <!-- Preloader -->
    <div class="mask">
        <div id="loader"></div>
    </div>
    <!--/Preloader -->
    <!-- Wrap all page content here -->
    <div id="wrap">
        <!-- Make page fluid -->
        <div class="row">
            <!-- Page content -->
            <div id="content" class="col-md-12">
                <!-- page header -->
                <div class="pageheader">
                    <h2><i class="fa fa-camera" style="line-height: 48px;padding-left: 0;"></i> 博文 <span>灵魂之源</span>
                    </h2>
                </div>
                <!-- /page header -->
                <!-- content main container -->
                <div class="main">
                    <!-- row -->
                    <div class="row">
                        <!-- col 12 -->
                        <div class="col-md-12">
                            <!-- tile -->
                            <section class="tile transparent" id="colorbox-gallery">


                                <!-- tile header -->
                                <div class="tile-header transparent">
                                    <h1><strong>文章</strong> 预览</h1>
                                    <div class="controls">
                                        <a href="#" class="refresh"><i class="fa fa-refresh"></i></a>
                                        <a href="#" class="remove"><i class="fa fa-times"></i></a>
                                    </div>
                                </div>
                                <!-- /tile header -->


                                <!-- tile widget -->
                                <div class="tile-widget color transparent-black rounded-top-corners">
                                    <ul class="tile-navbar bg-transparent-black-3">
                                        <li>
                                            <div class="checkbox check-transparent">
                                                <input type="checkbox" value="1" id="selectall2">
                                                <label for="selectall2">全选</label>
                                            </div>
                                        </li>
                                        <li>
                                            <a href="#" class="gallery-tool disabled" onclick=del_all()><i
                                                    class="fa fa-trash-o"></i> 删除</a>
                                        </li>
                                        <li class="filters">
                                            {% if statue %}
                                                <a href="{% url 'manage_paper' %}" class="active"> 公开文章</a>
                                                <a href="{% url 'manage_paper_hide' %}"> 隐藏文章</a>
                                            {% else %}
                                                <a href="{% url 'manage_paper' %}"> 公开文章</a>
                                                <a href="{% url 'manage_paper_hide' %}" class="active"> 隐藏文章</a>
                                            {% endif %}
                                        </li>
                                    </ul>
                                </div>
                                <!-- /tile widget -->
                                <!--内容核心-->
                                <!-- tile body -->
                                <div class="tile-body color transparent-black colorbox">
                                    {% if not content %}
                                        <div class="col-md-12">
                                            <div class="box-item">
                                                <div class="content">
                                                    <h1 class="text-center">空空如也</h1>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% for var in content %}
                                        <div class="colorbox-list img-view">
                                            {% if var.img %}
                                                <img src="{{ var.img.url }}" data-img="{{ var.img.url }}"
                                                     class="colorbox-img" alt>
                                            {% endif %}
                                            <div class="overlay">
                                                <div class="media-info">
                                                    <div class="checkbox">
                                                        <input type="checkbox" value="1" id="{{ var.id }}"
                                                               class="toggle">
                                                        <label for="{{ var.id }}"></label>
                                                    </div>
                                                    <h2>{{ var.title }}</h2>
                                                    <span>添加时间: {{ var.time }}</span>
                                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle"
                                                            data-toggle="dropdown"><i class="fa fa-caret-down"></i>
                                                    </button>
                                                    <ul class="dropdown-menu" role="menu" id="change{{ var.id }}">
                                                        {% ifequal var.show '1' %}
                                                            <li><a href="#" onclick=change_show("0",{{ var.id }})><i
                                                                    class="fa fa-play-circle"></i> 隐藏文章</a></li>
                                                        {% else %}
                                                            <li><a href="#" onclick=change_show("1",{{ var.id }})><i
                                                                    class="fa fa-play-circle"></i> 展示文章</a></li>
                                                        {% endifequal %}
                                                        <li><a href="manage/page/{{ var.id }}"><i
                                                                class="fa fa-pencil"></i> 编辑</a></li>
                                                        <li><a href="#" name="{{ var.id }}"
                                                               onclick=shanchu(this.name)><i class="fa fa-trash-o"></i>
                                                            删除</a></li>
                                                    </ul>
                                                </div>
                                                <p>{{ var.description }}</p>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <!-- /tile body -->
                                <!--内容核心-->
                                <!--分页-->
                                <div class="tile-footer color transparent-black rounded-bottom-corners text-center">

                                    <ul class="pagination pagination-sm pagination-custom text-center">
                                        <li class="disabled"><a href="#"><i class="fa fa-angle-double-left"></i></a>
                                        </li>
                                        {% for i in length %}
                                            {% if forloop.counter0 == 0 %}
                                                <li class="active" id="p.1" href="javascript:0"><a
                                                        onclick=get_page(1)>1</a></li>
                                            {% else %}
                                                <li id="p.{{ forloop.counter }}"><a href="javascript:0"
                                                                                    onclick=get_page({{ forloop.counter }})>{{ forloop.counter }}</a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                        <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                                    </ul>
                                </div>
                                <!--分页-->
                            </section>
                        </div>
                        <!-- /col 12 -->
                    </div>
                    <!-- /row -->
                </div>
                <!-- /content container -->
            </div>
            <!-- Page content end -->
            <div id="mmenu" class="right-panel">

                <!-- Nav tabs -->
                <ul class="nav nav-tabs nav-justified">
                    <li class="active"><a href="#mmenu-users" data-toggle="tab"><i class="fa fa-users"></i></a></li>
                    <li class=""><a href="#mmenu-history" data-toggle="tab"><i class="fa fa-clock-o"></i></a></li>
                    <li class=""><a href="#mmenu-friends" data-toggle="tab"><i class="fa fa-heart"></i></a></li>
                    <li class=""><a href="#mmenu-settings" data-toggle="tab"><i class="fa fa-gear"></i></a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="mmenu-users">
                        <h5><strong>Online</strong> Users</h5>

                        <ul class="users-list">

                            <li class="online">
                                <div class="media">
                                    <a class="pull-left profile-photo" href="#">
                                        <img class="media-object" src="assets/images/ici-avatar.jpg" alt>
                                    </a>
                                    <div class="media-body">
                                        <h6 class="media-heading">Ing. Imrich <strong>Kamarel</strong></h6>
                                        <small><i class="fa fa-map-marker"></i> Ulaanbaatar, Mongolia</small>
                                        <span class="badge badge-outline status"></span>
                                    </div>
                                </div>
                            </li>

                            <li class="online">
                                <div class="media">

                                    <a class="pull-left profile-photo" href="#">
                                        <img class="media-object" src="assets/images/arnold-avatar.jpg" alt>
                                    </a>
                                    <span class="badge badge-red unread">3</span>

                                    <div class="media-body">
                                        <h6 class="media-heading">Arnold <strong>Karlsberg</strong></h6>
                                        <small><i class="fa fa-map-marker"></i> Bratislava, Slovakia</small>
                                        <span class="badge badge-outline status"></span>
                                    </div>

                                </div>
                            </li>

                            <li class="online">
                                <div class="media">
                                    <a class="pull-left profile-photo" href="#">
                                        <img class="media-object" src="assets/images/peter-avatar.jpg" alt>

                                    </a>
                                    <div class="media-body">
                                        <h6 class="media-heading">Peter <strong>Kay</strong></h6>
                                        <small><i class="fa fa-map-marker"></i> Kosice, Slovakia</small>
                                        <span class="badge badge-outline status"></span>
                                    </div>
                                </div>
                            </li>

                            <li class="online">
                                <div class="media">
                                    <a class="pull-left profile-photo" href="#">
                                        <img class="media-object" src="assets/images/george-avatar.jpg" alt>
                                    </a>
                                    <div class="media-body">
                                        <h6 class="media-heading">George <strong>McCain</strong></h6>
                                        <small><i class="fa fa-map-marker"></i> Prague, Czech Republic</small>
                                        <span class="badge badge-outline status"></span>
                                    </div>
                                </div>
                            </li>

                            <li class="busy">
                                <div class="media">
                                    <a class="pull-left profile-photo" href="#">
                                        <img class="media-object" src="assets/images/random-avatar1.jpg" alt>
                                    </a>
                                    <div class="media-body">
                                        <h6 class="media-heading">Lucius <strong>Cashmere</strong></h6>
                                        <small><i class="fa fa-map-marker"></i> Wien, Austria</small>
                                        <span class="badge badge-outline status"></span>
                                    </div>
                                </div>
                            </li>

                            <li class="busy">
                                <div class="media">
                                    <a class="pull-left profile-photo" href="#">
                                        <img class="media-object" src="assets/images/random-avatar2.jpg" alt>
                                    </a>
                                    <div class="media-body">
                                        <h6 class="media-heading">Jesse <strong>Phoenix</strong></h6>
                                        <small><i class="fa fa-map-marker"></i> Berlin, Germany</small>
                                        <span class="badge badge-outline status"></span>
                                    </div>
                                </div>
                            </li>

                        </ul>

                        <h5><strong>Offline</strong> Users</h5>

                        <ul class="users-list">

                            <li class="offline">
                                <div class="media">
                                    <a class="pull-left profile-photo" href="#">
                                        <img class="media-object" src="assets/images/random-avatar4.jpg" alt>
                                    </a>
                                    <div class="media-body">
                                        <h6 class="media-heading">Dell <strong>MacApple</strong></h6>
                                        <small><i class="fa fa-map-marker"></i> Paris, France</small>
                                        <span class="badge badge-outline status"></span>
                                    </div>
                                </div>
                            </li>

                            <li class="offline">
                                <div class="media">

                                    <a class="pull-left profile-photo" href="#">
                                        <img class="media-object" src="assets/images/random-avatar5.jpg" alt>
                                    </a>

                                    <div class="media-body">
                                        <h6 class="media-heading">Roger <strong>Flopple</strong></h6>
                                        <small><i class="fa fa-map-marker"></i> Rome, Italia</small>
                                        <span class="badge badge-outline status"></span>
                                    </div>

                                </div>
                            </li>

                            <li class="offline">
                                <div class="media">
                                    <a class="pull-left profile-photo" href="#">
                                        <img class="media-object" src="assets/images/random-avatar6.jpg" alt>

                                    </a>
                                    <div class="media-body">
                                        <h6 class="media-heading">Nico <strong>Vulture</strong></h6>
                                        <small><i class="fa fa-map-marker"></i> Kyjev, Ukraine</small>
                                        <span class="badge badge-outline status"></span>
                                    </div>
                                </div>
                            </li>

                            <li class="offline">
                                <div class="media">
                                    <a class="pull-left profile-photo" href="#">
                                        <img class="media-object" src="assets/images/random-avatar7.jpg" alt>
                                    </a>
                                    <div class="media-body">
                                        <h6 class="media-heading">Bobby <strong>Socks</strong></h6>
                                        <small><i class="fa fa-map-marker"></i> Moscow, Russia</small>
                                        <span class="badge badge-outline status"></span>
                                    </div>
                                </div>
                            </li>

                            <li class="offline">
                                <div class="media">
                                    <a class="pull-left profile-photo" href="#">
                                        <img class="media-object" src="assets/images/random-avatar8.jpg" alt>
                                    </a>
                                    <div class="media-body">
                                        <h6 class="media-heading">Anna <strong>Opichia</strong></h6>
                                        <small><i class="fa fa-map-marker"></i> Budapest, Hungary</small>
                                        <span class="badge badge-outline status"></span>
                                    </div>
                                </div>
                            </li>

                        </ul>

                    </div>

                    <div class="tab-pane" id="mmenu-history">
                        <h5><strong>Chat</strong> History</h5>

                        <ul class="history-list">

                            <li class="online">
                                <div class="media">
                                    <a class="pull-left profile-photo" href="#">
                                        <img class="media-object" src="assets/images/ici-avatar.jpg" alt>
                                    </a>
                                    <div class="media-body">
                                        <h6 class="media-heading">Ing. Imrich <strong>Kamarel</strong></h6>
                                        <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                            tempor
                                        </small>
                                        <span class="badge badge-outline status"></span>
                                    </div>
                                </div>
                            </li>

                            <li class="busy">
                                <div class="media">

                                    <a class="pull-left profile-photo" href="#">
                                        <img class="media-object" src="assets/images/arnold-avatar.jpg" alt>
                                    </a>
                                    <span class="badge badge-red unread">3</span>

                                    <div class="media-body">
                                        <h6 class="media-heading">Arnold <strong>Karlsberg</strong></h6>
                                        <small>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                                            dolore eu fugiat nulla pariatur
                                        </small>
                                        <span class="badge badge-outline status"></span>
                                    </div>

                                </div>
                            </li>

                            <li class="offline">
                                <div class="media">
                                    <a class="pull-left profile-photo" href="#">
                                        <img class="media-object" src="assets/images/peter-avatar.jpg" alt>

                                    </a>
                                    <div class="media-body">
                                        <h6 class="media-heading">Peter <strong>Kay</strong></h6>
                                        <small>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                                            deserunt mollit
                                        </small>
                                        <span class="badge badge-outline status"></span>
                                    </div>
                                </div>
                            </li>

                        </ul>

                    </div>

                    <div class="tab-pane" id="mmenu-friends">
                        <h5><strong>Friends</strong> List</h5>
                        <ul class="favourite-list">

                            <li class="online">
                                <div class="media">

                                    <a class="pull-left profile-photo" href="#">
                                        <img class="media-object" src="assets/images/arnold-avatar.jpg" alt>
                                    </a>
                                    <span class="badge badge-red unread">3</span>

                                    <div class="media-body">
                                        <h6 class="media-heading">Arnold <strong>Karlsberg</strong></h6>
                                        <small><i class="fa fa-map-marker"></i> Bratislava, Slovakia</small>
                                        <span class="badge badge-outline status"></span>
                                    </div>

                                </div>
                            </li>

                            <li class="offline">
                                <div class="media">
                                    <a class="pull-left profile-photo" href="#">
                                        <img class="media-object" src="assets/images/random-avatar8.jpg" alt>
                                    </a>
                                    <div class="media-body">
                                        <h6 class="media-heading">Anna <strong>Opichia</strong></h6>
                                        <small><i class="fa fa-map-marker"></i> Budapest, Hungary</small>
                                        <span class="badge badge-outline status"></span>
                                    </div>
                                </div>
                            </li>

                            <li class="busy">
                                <div class="media">
                                    <a class="pull-left profile-photo" href="#">
                                        <img class="media-object" src="/static/assets/images/random-avatar1.jpg" alt>
                                    </a>
                                    <div class="media-body">
                                        <h6 class="media-heading">Lucius <strong>Cashmere</strong></h6>
                                        <small><i class="fa fa-map-marker"></i> Wien, Austria</small>
                                        <span class="badge badge-outline status"></span>
                                    </div>
                                </div>
                            </li>

                            <li class="online">
                                <div class="media">
                                    <a class="pull-left profile-photo" href="#">
                                        <img class="media-object" src="/static/assets/images/ici-avatar.jpg" alt>
                                    </a>
                                    <div class="media-body">
                                        <h6 class="media-heading">Ing. Imrich <strong>Kamarel</strong></h6>
                                        <small><i class="fa fa-map-marker"></i> Ulaanbaatar, Mongolia</small>
                                        <span class="badge badge-outline status"></span>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>

                    <div class="tab-pane pane-settings" id="mmenu-settings">
                        <h5><strong>Chat</strong> Settings</h5>

                        <ul class="settings">

                            <li>
                                <div class="form-group">
                                    <label class="col-xs-8 control-label">Show Offline Users</label>
                                    <div class="col-xs-4 control-label">
                                        <div class="onoffswitch greensea">
                                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox"
                                                   id="show-offline" checked="">
                                            <label class="onoffswitch-label" for="show-offline">
                                                <span class="onoffswitch-inner"></span>
                                                <span class="onoffswitch-switch"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="form-group">
                                    <label class="col-xs-8 control-label">Show Fullname</label>
                                    <div class="col-xs-4 control-label">
                                        <div class="onoffswitch greensea">
                                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox"
                                                   id="show-fullname">
                                            <label class="onoffswitch-label" for="show-fullname">
                                                <span class="onoffswitch-inner"></span>
                                                <span class="onoffswitch-switch"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="form-group">
                                    <label class="col-xs-8 control-label">History Enable</label>
                                    <div class="col-xs-4 control-label">
                                        <div class="onoffswitch greensea">
                                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox"
                                                   id="show-history" checked="">
                                            <label class="onoffswitch-label" for="show-history">
                                                <span class="onoffswitch-inner"></span>
                                                <span class="onoffswitch-switch"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="form-group">
                                    <label class="col-xs-8 control-label">Show Locations</label>
                                    <div class="col-xs-4 control-label">
                                        <div class="onoffswitch greensea">
                                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox"
                                                   id="show-location" checked="">
                                            <label class="onoffswitch-label" for="show-location">
                                                <span class="onoffswitch-inner"></span>
                                                <span class="onoffswitch-switch"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="form-group">
                                    <label class="col-xs-8 control-label">Notifications</label>
                                    <div class="col-xs-4 control-label">
                                        <div class="onoffswitch greensea">
                                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox"
                                                   id="show-notifications">
                                            <label class="onoffswitch-label" for="show-notifications">
                                                <span class="onoffswitch-inner"></span>
                                                <span class="onoffswitch-switch"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="form-group">
                                    <label class="col-xs-8 control-label">Show Undread Count</label>
                                    <div class="col-xs-4 control-label">
                                        <div class="onoffswitch greensea">
                                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox"
                                                   id="show-unread" checked="">
                                            <label class="onoffswitch-label" for="show-unread">
                                                <span class="onoffswitch-inner"></span>
                                                <span class="onoffswitch-switch"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div><!-- tab-pane -->
                </div><!-- tab-content -->
            </div>

        </div>
        <!-- Make page fluid-->
    </div>
    <!-- Wrap all page content end -->
    <section class="videocontent" id="video"></section>
    <!--manage页面js文件-->
    <script src="/static/assets/js/vendor/colorbox/jquery.colorbox-min.js"></script>
    <!--manage页面js文件-->
    <script>
        $(function () {
            /* initialize colorbox */
            $('.colorbox .colorbox-list .overlay').colorbox({
                photo: true,
                opacity: .9,
                rel: 'group1',
                scalePhotos: true,
                scrolling: false,
                maxWidth: '100%',
                maxHeight: '100%',
                transition: 'elastic',
                href: function () {
                    var url = $(this).prev().data('img');
                    return url;
                },
            });
            //colorbox image selecting
            var checkColorboxSelected = function () {
                $('#colorbox-gallery .img-view .checkbox :checkbox').each(function () {
                    var el = $(this);
                    if (!el.is(':checked')) {
                        enableToolsColorbox(false);
                    } else {
                        el.parents('.img-view').addClass('selected');
                        enableToolsColorbox(true);
                    }

                });
            };
            $('#colorbox-gallery .img-view .checkbox').click(function () {
                var el = $(this);
                if (!el.find(':checkbox').is(':checked')) {
                    el.parents('.img-view').removeClass('selected');
                    enableToolsColorbox(false);
                } else {
                    el.parents('.img-view').addClass('selected');
                    enableToolsColorbox(true);
                }
            });

            $('#colorbox-gallery #selectall2').click(function () {
                if ($(this).prop('checked')) {
                    $(this).parents('.tile').each(function () {
                        $(this).find('.img-view .checkbox :checkbox').prop('checked', true);
                        $(this).find('.img-view').addClass('selected');
                    });
                    enableToolsColorbox(true);
                } else {
                    $(this).parents('.tile').each(function () {
                        $(this).find('.img-view .checkbox :checkbox').prop('checked', false);
                        $(this).find('.img-view').removeClass('selected');
                    });
                    enableToolsColorbox(false);
                }
            });
            var enableToolsColorbox = function (enable) {

                if (enable) {

                    $('#colorbox-gallery .gallery-tool').removeClass('disabled');

                } else {

                    var selected = false;

                    $('#colorbox-gallery .colorbox .img-view').each(function () {
                        if ($(this).hasClass('selected')) {
                            selected = true;
                        }
                    });

                    if (!selected) {
                        $('#colorbox-gallery .gallery-tool').addClass('disabled');
                    }
                }
            }
            checkColorboxSelected();
            $('.img-view .media-info .btn.dropdown-toggle').on('click', function (e) {
                $(this).next().toggle();
                e.stopPropagation();
            });
            $('.img-view .media-info .dropdown-menu').on('click', function (e) {
                e.stopPropagation();
                $(this).toggle();
            });
            $('.img-view .media-info .checkbox').on('click', function (e) {
                e.stopPropagation();
            });
        });
    </script>
    <script>
        function change_show(statue, id) {
            if (statue === "0")
                var x = "隐藏";
            else
                x = '展示';
            if (confirm("确认要" + x + "所选内容?")) (
                $.ajax({
                    url: "",
                    type: "POST",
                    data: {"id": id, "statue": statue},
                    success: function (data) {
                        if (statue === '0')
                            document.getElementById("change" + id).children[0].innerHTML = '<a href="#" onclick=change_show("1",' + id + ')><i class="fa fa-play-circle"></i> 展示文章</a>';
                        else
                            document.getElementById("change" + id).children[0].innerHTML = '<a href="#" onclick=change_show("0",' + id + ')><i class="fa fa-play-circle"></i> 隐藏文章</a>';
                        alert(data);
                    },
                    error: function () {
                        alert("操作失败");
                    }
                })
            )
        }

        function del_all() {
            var all = document.getElementsByClassName('checkbox');
            var arry = new Array();
            for (var i = 1; i < all.length; i++) {
                if (all[i].children[0].checked) {
                    arry.push(all[i].children[0].id);
                }
            }
            var json_str = JSON.stringify(arry);
            if (confirm("确认要删除所选内容?")) (
                $.ajax({
                    url: "",
                    type: "POST",
                    data: {"all": json_str},
                    success: function () {
                        for (var i = 0; i < arry.length; i++)
                            document.getElementById(arry[i]).parentNode.parentNode.parentNode.parentNode.innerHTML = "";
                    },
                    error: function () {
                        alert("删除失败");
                    }
                })
            )
        }

        function shanchu(name) {
            var json = JSON.parse('{"id":' + name + "}");
            if (confirm("确认要删除该内容?")) (
                $.ajax({
                    url: "",
                    type: "POST",
                    data: json,
                    success: function () {
                        document.getElementById(name).parentNode.parentNode.parentNode.parentNode.innerHTML = "";
                        //location.reload();
                    },
                    error: function () {
                        alert("删除失败");
                    }
                })
            )
        }

        function get_page(page) {
            var json = JSON.parse('{"num":' + page + "}");
            var y = document.getElementsByClassName("pagination pagination-sm pagination-custom text-center")[0].children;
            for (var i = 0; i < y.length; i++)
                if (y[i].className)
                    y[i].className = '';
            document.getElementById('p.' + page).className = 'active';
            $.ajax({
                url: "",
                type: "POST",
                data: json,
                success: function (result) {
                    var json = JSON.parse(result);
                    var length = 0;
                    for (var len in json)
                        length++;
                    var x = document.getElementsByClassName("tile-body color transparent-black colorbox")[0];
                    for (var i = 0; i < x.children.length; i++)  //清除子节点
                        x.children[i].innerHTML = '';
                    for (var j = 0; j < length; j++) {
                        x.children[j].innerHTML =
                            '<img src="http://seopic.699pic.com/photo/50035/0520.jpg_wh1200.jpg" data-img="http://seopic.699pic.com/photo/50035/0520.jpg_wh1200.jpg" class="colorbox-img" alt>' +
                            '<div class="overlay"> <div class="media-info"> <div class="checkbox"> <input type="checkbox" value="1" id="' + json[j].id + '" class="toggle"> <label for="' + json[j].id + '"></label> </div> <h2>' + json[j].title + '</h2> <span>添加时间:' + json[j].time + '</span>' +
                            '<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown"><i class="fa fa-caret-down"></i></button>' +
                            '<ul class="dropdown-menu" role="menu"> <li><a href="#"><i class="fa fa-play-circle"></i> 查看</a></li> <li><a href="manage/page/' + json[j].id + '"><i class="fa fa-pencil"></i> 编辑</a></li>' +
                            '<li><a href="#" name="' + json[j].id + '" onclick=shanchu(this.name)><i class="fa fa-trash-o" ></i> 删除</a></li> </ul></div> <p>' + json[j].description + '</p> </div>'
                    }
                },
                error: function () {
                    alert("获取数据失败");
                }
            })
        }

        function get_hide() {
            $.ajax({
                url: "",
                type: "POST",
                data: {"hide": "hide"},
                success: function (result) {
                    var json = JSON.parse(result);
                    var length = 0;
                    for (var len in json)
                        length++;
                    var x = document.getElementsByClassName("tile-body color transparent-black colorbox")[0];
                    for (var i = 0; i < x.children.length; i++)  //清除子节点
                        x.children[i].innerHTML = '';
                    for (var j = 0; j < length; j++) {
                        x.children[j].innerHTML =
                            '<img src="http://seopic.699pic.com/photo/50035/0520.jpg_wh1200.jpg" data-img="http://seopic.699pic.com/photo/50035/0520.jpg_wh1200.jpg" class="colorbox-img" alt>' +
                            '<div class="overlay"> <div class="media-info"> <div class="checkbox"> <input type="checkbox" value="1" id="' + json[j].id + '" class="toggle"> <label for="' + json[j].id + '"></label> </div> <h2>' + json[j].title + '</h2> <span>添加时间:' + json[j].time + '</span>' +
                            '<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown"><i class="fa fa-caret-down"></i></button>' +
                            '<ul class="dropdown-menu" role="menu"> <li><a href="#"><i class="fa fa-play-circle"></i> 查看</a></li> <li><a href="manage/page/' + json[j].id + '"><i class="fa fa-pencil"></i> 编辑</a></li>' +
                            '<li><a href="#" name="' + json[j].id + '" onclick=shanchu(this.name)><i class="fa fa-trash-o" ></i> 删除</a></li> </ul></div> <p>' + json[j].description + '</p> </div>'
                    }
                },
                error: function () {
                    alert("获取数据失败");
                }
            })
        }

        function get_open() {
            $.ajax({
                url: "",
                type: "POST",
                data: {"open": "open"},
                success: function (result) {
                    var json = JSON.parse(result);
                    var length = 0;
                    for (var len in json)
                        length++;
                    var x = document.getElementsByClassName("tile-body color transparent-black colorbox")[0];
                    for (var i = 0; i < x.children.length; i++)  //清除子节点
                        x.children[i].innerHTML = '';
                    for (var j = 0; j < length; j++) {
                        x.children[j].innerHTML =
                            '<img src="http://seopic.699pic.com/photo/50035/0520.jpg_wh1200.jpg" data-img="http://seopic.699pic.com/photo/50035/0520.jpg_wh1200.jpg" class="colorbox-img" alt>' +
                            '<div class="overlay"> <div class="media-info"> <div class="checkbox"> <input type="checkbox" value="1" id="' + json[j].id + '" class="toggle"> <label for="' + json[j].id + '"></label> </div> <h2>' + json[j].title + '</h2> <span>添加时间:' + json[j].time + '</span>' +
                            '<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown"><i class="fa fa-caret-down"></i></button>' +
                            '<ul class="dropdown-menu" role="menu"> <li><a href="#"><i class="fa fa-play-circle"></i> 查看</a></li> <li><a href="manage/page/' + json[j].id + '"><i class="fa fa-pencil"></i> 编辑</a></li>' +
                            '<li><a href="#" name="' + json[j].id + '" onclick=shanchu(this.name)><i class="fa fa-trash-o" ></i> 删除</a></li> </ul></div> <p>' + json[j].description + '</p> </div>'
                    }
                },
                error: function () {
                    alert("获取数据失败");
                }
            })
        }
    </script>
{% endblock %}
