<!-- FOOTER -->
<footer>
    <div class="wrap-footer">
        <div class="container">
            <div class="row">
                <div class="col-footer col-md-3 widget_recent_entries">
                    <h2 class="footer-title">最近更新</h2>
                    <ul>
                        <li><a href="#">Linux文学</a></li>
                        <li><a href="#">Web开发该如何入门</a></li>
                        <li><a href="#">图像识别之Python-CV学习笔记大放送</a></li>
                    </ul>
                </div>
                <div class="col-footer col-md-3">
                    <h2 class="footer-title">新文推送</h2>
                    如果你想第一个看到我最新的东西，请将你的邮箱留下，我会将最新博文以邮件形式告知。
                    <form action="#" method="post">
                        <input type="text" name="reader-email" value="" size="40" placeholder="Your Email"/>
                        <input type="submit" value="Bui" class="btn btn-skin"/>
                    </form>
                </div>
                <div class="col-footer col-md-3">
                    <h2 class="footer-title">标签</h2>
                    <div class="footer-tags">
                        <a href="#">IT</a>
                        <a href="#">Techonilogy</a>
                        <a href="#">Traval</a>
                        <a href="#">Phone</a>
                        <a href="#">Hacker</a>
                        <a href="#">Risk</a>
                        <a href="#">Experiences</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <p>Copyright@龙妙浩<a href="#" target="_blank" title="龙妙浩">&&made by myself</a></p>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">内容未经授权，不得转载</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
  

