<!-- /////////////////////////////////////////Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="index.html">龙妙浩</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="index.html">主页</a>
                </li>
                <li>
                    <a class="page-scroll" href="archive.html">博客</a>
                </li>
                <li>
                    <a class="page-scroll" href="single.html">关于</a>
                </li>
                <li>
                    <a class="page-scroll" href="contact.html">联系</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<!-- Navigation -->

<!-- CAROUSEL -->
<div id="carousel-example-generic" class="carousel slide hidden-xs" data-ride="carousel" data-interval="4000">
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="/static/images/banner1.jpg" alt="...">
            <!-- Static Header -->
            <div class="container">
                <div class="header-text hidden-xs">
                    <div class="col-md-12 text-center">
                        <h1>Free Bootstrap Themes Html5xCss3 dot com</h1>
                        <hr>
                        <p>Nunc eu velit metus. Donec in massa libero. Donec bibendum orci a lorem scelerisque luctus.
                            Aliquam et ante quis erat semper pretium.</p>
                        <a href="" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
                    </div>
                </div><!-- /header-text -->
            </div>
        </div>
        <div class="item">
            <img src="/static/images/banner2.jpg" alt="...">
            <!-- Static Header -->
            <div class="header-text hidden-xs">
                <div class="col-md-12 text-center">
                    <h1>Free Bootstrap Themes Html5xCss3 dot com</h1>
                    <hr>
                    <p>Suspendisse porttitor sapien ac lectus euismod imperdiet. Curabitur nec nibh at massa
                        pellentesque accumsan eu id nibh. Donec accumsan ut mi.</p>
                    <a href="" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
                </div>
            </div><!-- /header-text -->
        </div>

    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div> <!-- Carousel -->

<header class="container">
    <div class="site-branding">
        <h1 class="site-title">
            <a href="index.html">
                <span>LMH</span>
            </a>
        </h1>
        <h2 class="site-description">Welcome to me !</h2>
    </div>
    <div class="social-links">
        <ul class="list-inline">
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
        </ul>
    </div>
</header>

