<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>RISE-Multipurpose Html Template</title>
    <!-- Bootstrap Css -->
    <link href="/static/bootstrap-assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- Style -->
    <link href="/static/plugins/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="/static/plugins/owl-carousel/owl.theme.css" rel="stylesheet">
    <link href="/static/plugins/owl-carousel/owl.transitions.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
    <!-- Icons Font -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

</head>

<body>
{% include "show/header.html" %}
<!-- Preloader
============================================= -->
<div class="preloader"><i class="fa fa-circle-o-notch fa-spin fa-2x"></i></div>
<!-- Header
============================================= -->
<section class="main-header">
    <div id="owl-hero" class="owl-carousel owl-theme">
        <div class="item" style="background-image: url(/static/img/sliders/Slide.jpg)">
            <div class="caption">
                <h6>Branding / Design / Creativty</h6>
                <h1>We Are <span>Rise</span></h1>
                <a class="btn btn-transparent" href="#">Learn More</a><a class="btn btn-light" href="#">Buy Now</a>
            </div>
        </div>
        <div class="item" style="background-image: url(/static/img/sliders/Slide2.jpg)">
            <div class="caption">
                <h6>Branding / Design / Creativty</h6>
                <h1>Creative <span>Design</span></h1>
                <a class="btn btn-transparent" href="#">Learn More</a><a class="btn btn-light" href="#">Buy Now</a>
            </div>
        </div>
        <div class="item" style="background-image: url(/static/img/sliders/Slide3.jpg)">
            <div class="caption">
                <h6>Branding / Design / Creativty</h6>
                <h1>Clean <span>Code</span></h1>
                <a class="btn btn-transparent" href="#">Learn More</a><a class="btn btn-light" href="#">Buy Now</a>
            </div>
        </div>
    </div>
</section>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/static/js/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/static/bootstrap-assets/js/bootstrap.min.js"></script>
<script src="/static/js/custom.js"></script>
<!-- JS PLUGINS -->
<script src="/static/plugins/owl-carousel/owl.carousel.min.js"></script>
<script src="/static/js/jquery.easing.min.js"></script>
<script src="/static/plugins/WOW/dist/wow.min.js"></script>
<div id="page-content">
    <!-- ////////////Content Box 01 -->
    <section class="box-content box-1">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="box-item">
                        <img src="/static/images/8.jpg" class="img-responsive"/>
                        <div class="content">
                            <h3>Choosing The Bridesmaids and Groomsmen</h3>
                            <p>Suspendisse porttitor sapien ac lectus euismod imperdiet. Curabitur nec nibh at massa
                                pellentesque accumsan eu id nibh. Donec accumsan ut mi.</p>
                            <a href="single">Read More...</a>
                            <br><br>
                            <span>MAY 21, 2014 BY VAFPRESS</span><br>
                        </div>
                    </div>
                    <div class="box-item">
                        <img src="/static/images/11.jpg" class="img-responsive"/>
                        <div class="content">
                            <h3>She Said Yes!</h3>
                            <p>Nunc eu velit metus. Donec in massa libero. Donec bibendum orci a lorem scelerisque
                                luctus. Aliquam et ante quis erat semper pretium. Pellentesque vehicula.</p>
                            <a href="single.html">Read More...</a>
                            <br><br>
                            <span>MAY 21, 2014 BY VAFPRESS</span><br>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="box-item">
                        <img src="/static/images/8.jpg" class="img-responsive"/>
                        <div class="content">
                            <h3>Choosing The Bridesmaids and Groomsmen</h3>
                            <p>Suspendisse porttitor sapien ac lectus euismod imperdiet. Curabitur nec nibh at massa
                                pellentesque accumsan eu id nibh. Donec accumsan ut mi.</p>
                            <a href="single">Read More...</a>
                            <br><br>
                            <span>MAY 21, 2014 BY VAFPRESS</span><br>
                        </div>
                    </div>
                    <div class="box-item">
                        <img src="/static/images/11.jpg" class="img-responsive"/>
                        <div class="content">
                            <h3>She Said Yes!</h3>
                            <p>Nunc eu velit metus. Donec in massa libero. Donec bibendum orci a lorem scelerisque
                                luctus. Aliquam et ante quis erat semper pretium. Pellentesque vehicula.</p>
                            <a href="single.html">Read More...</a>
                            <br><br>
                            <span>MAY 21, 2014 BY VAFPRESS</span><br>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box-item">
                        <img src="/static/images/5.jpg" class="img-responsive"/>
                        <div class="content">
                            <h3>Choosing The Bridesmaids and Groomsmen</h3>
                            <p>Suspendisse porttitor sapien ac lectus euismod imperdiet. Curabitur nec nibh at massa
                                pellentesque accumsan eu id nibh. Donec accumsan ut mi.</p>
                            <a href="single">Read More...</a>
                            <br><br>
                            <span>MAY 21, 2014 BY VAFPRESS</span><br>
                        </div>
                    </div>
                    <div class="box-item">
                        <img src="/static/images/7.jpg" class="img-responsive"/>
                        <div class="content">
                            <h3>Met Dovey’s Parents in Chicago</h3>
                            <p>Class aptent taciti urna bibendum id. Duis a commodo lectus. Morbi id purus nec purus
                                feugiat vestibulum. Suspendisse sapien ante, bibendum ac quam quis, imperdiet bibendum
                                sem. Curabitur nibh magna, tristique et convallis…</p>
                            <a href="single?paper=123">Read More...</a>
                            <br><br>
                            <span>MAY 21, 2014 BY VAFPRESS</span><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% include "show/footer.html" %}

</body>

</html>
